# Project exclude paths
.gradle
.idea
build/classes/
build/generated/
build/reports/
build/resources/main/.vscode/
build/resources/main/application.properties
build/resources/main/application-oauth.properties
build/resources/main/static/
build/resources/main/templates/
build/test-results/
build/tmp/
src/main/resources/.vscode/
src/main/resources/application-oauth.properties